<html>
<head>
	<title></title>
	<script type="text/javascript" src="/../javascripts/main.js"></script>
</head>
<body>
	<div class="page-data">
		<div class="data-btn">
			<button onClick="addUser();">+ Add</button>
		</div>
		<div class="data-table">
			<table border="1" cellpadding="7" cellspacing="7">
			<tr>
				<th width="50px">No</th>
				<th>Email</th>
				<th>Twitter</th>			
				<th width="120px">Action</th>
			</tr>
			<% if(data.length){
			for(var i = 0;i < data.length;i++) { %>
			<tr>
				<td><%=(i+1)%></td>
				<td><%=data[i].email%></td>
				<td><%=data[i].twitter_account%></td>
				<td>
					<a class="a-inside edit" href="../users/edit/<%=data[i].id%>">Edit</a>
					<a class="a-inside delete" href="../users/delete/<%=data[i].id%>">Delete</a>
				</td>
			</tr>
			<% } 
			}else{ %>
			<tr>
				<td colspan="3">No user</td>
			</tr>
			<% } %>
			</table>
		</div>
	</div>
</body>
</html>

